@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: Roboto;
}

body {
    margin: 0px;
}

html {
    width: fit-content;
}

/* header section */
.logo {
    padding: 20px 0px;
    height: 90px;
    width: 90px;
    max-width: 100%;
    max-height: 100%;

    display: flex;
}

.links {
    padding: 20px 0px;
    gap: 20px;

    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* hero section */
.header, .hero {
    padding: 0px 90px;
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
}

.hero-text {
    align-self: center;
}

.hero-main-text {
    padding: 20px 0px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.body-text {
    padding-bottom: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

#hero-image {
    width: fit-content;
    max-width: 500px;
    height: 300px;
    margin: 50px 0px 100px 100px;
    border: solid white 3px;
    border-radius: 4px;
}

/* illustrations */
.illustrations {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.illustrations img {
    height: 200px;
    width: 200px;
    border: rgb(81, 81, 240) solid 3px;
    border-radius: 15px;

    flex-wrap: wrap;
}

.illustrations p {
    width: 200px;
    text-align: center;
}

#info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    
    display: flex;
    justify-self: center;

}

/* buttons */
.hero button {
    margin-bottom: 48px;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    font-weight: 900;
}



