@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: Roboto;
}

body {
    margin: 0px;
}

html {
    width: fit-content;
}

/* header section */
.logo {
    padding: 20px 0px;
    height: 90px;
    width: 90px;
    max-width: 100%;
    max-height: 100%;

    display: flex;
}

.links {
    padding: 20px 0px;
    gap: 20px;

    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* hero section */
.header, .hero {
    width: 100%;
    padding: 0px 48px;
    background-color: #1F2937;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

.hero-text {
    align-self: center;
}

.hero-main-text {
    padding: 20px 0px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.body-text {
    padding-bottom: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

#hero-image {
    width: auto;
    max-width: 450px;
    height: 300px;
    margin: 50px 0px 50px 50px;
    border: solid white 3px;
    border-radius: 4px;
}

/* illustrations */
main {
    width: 100vw;
    justify-self: center;
}
.illustrations {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.illustrations img {
    height: 200px;
    width: 200px;
    border: rgb(81, 81, 240) solid 3px;
    border-radius: 15px;
}

.illustrations p {
    width: 200px;
    text-align: center;
}

#info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    
    display: flex;
    justify-content: center;

}

/* quotes section */
.quote {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 150px;
    text-align: center;
    font-style: italic;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;

    display: flex;
    flex-direction: column;
    justify-self: center;
}

#speaker {
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}

/* action-call */
.action-call {
    padding: 20px;
    margin: 50px;
    width: 50vw;
    background-color: #3882F6;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    justify-self: center;
}

#message-header {
    font-weight: 900;
    color: #FFFFFF;
}

#message-body {
    color: #FFFFFF;
}

.action-button {
    display: flex;
    align-items: center;
}

/* buttons */
.hero button, .action-call button {
    margin-bottom: 48px;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    font-weight: 900;
}

.action-call button {
    margin: 0px;
    border: white solid 2px;
}

/* footer */
.footer {
    background-color: #1F2937;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
}



